<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="mystyle.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <title>creative1</title>
</head>

<body>
    <div class="wrapper">
        
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MM Websites</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about.html">About</a>
      <a class="nav-item nav-link" href="reason.html">Reason</a>
      <a class="nav-item nav-link" href="where.html">Location</a>
    </div>
  </div>
</nav>

<main>
    
    
    
    <h1>Marc's Indonesian Adventure Blog</h1>
    <div id="posts">
      <h4>
        Table of Contents
      </h4>
      <ul>
        <li v-for="title in titles" v-text="title"></li>
      </ul>
      
      <div id="poststyle">
        <form v-on:submit.prevent="newPost">
          <input v-model="addTitle" placeholder="Title"></p>
          <textarea v-model="addPost" placeholder="Post"></textarea>
          <br/>
          <button type="submit">Post</button>
        </form>
        <div class="poststyle" v-for="post in posts">
          <h3>{{post.title}}</h3>
          <p>{{post.postt}}</p>
        </div>
      </div>
      
      
    </div>
    
   
   <div class="KeepOpen"></div>
</main>

  
  
  
  <footer>
    <p>&copy; 2019 &bull; CS 260 &bull; <a href="https://github.com/MMagnum/creative1/tree/master" target="_blank">GitHub</a>
           &bull; Built by Marc Mangum</p>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="script.js"></script>


</div>
</body>

</html>
